$primary-color: #1C1A24;
$secondary-color: #2938EA;
$accent-color: #FFC13E;
$bg-blue: #456EFF;
$bg-yellow: #FFC046;
$bg-green: #1CC593;

@import "../../styles/globals";
@import "../../styles/animations";

.painpoint {
  padding-top: 4.75rem;
  padding-bottom: 8.125rem;
  background-color: $primary-color;

  .pain-list {
    font-size: 3.625rem;
    font-weight: bold;
    color: $bg-blue;
    letter-spacing: 0.5rem;
    margin-top: 5.625rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
      }

      &:not(:last-child) {
        margin-bottom: 7.5rem;
      }
    }

    .pain-item-text {
      text-align: left;

      p {
        margin-bottom: 0.75rem;
      }
    }

    .image-painpoint-g {
      position: relative;
    }

    .image-painpoint1-inside {
      position: absolute;
      top: 3rem;
      right: 9rem;
      animation: float-up infinite 1.5s ease-in-out;
    }

    .image-painpoint2-inside {
      position: absolute;
      top: 1rem;
      right: 8rem;
      animation: float-up infinite 1.5s ease-in-out;
    }

    .image-painpoint3-inside {
      position: absolute;
      top: 3rem;
      left: 5rem;
      animation: float-up infinite 1.5s ease-in-out;
    }

  }
}